# caches
.DS_Store
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Python
response_tools.egg-info/
build/

# data directories
response-information/attenuation-data/
response-information/detector-response-data/
response-information/effective-area-data/
response-information/quantum-efficiency-data/
response-information/atmospheric-data/